
body{
	background-color:#e6e6e6;
	background-image: url("../img/fondo.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

label{
	font-size: 14px;
	display: block;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: Verdana,sans-serif;
}
#pagina{
	max-width: 900px;
	min-height:600px;
	margin:auto;	
	background-color:#fefefe;
	/*opacity:0.7;
	filter:  alpha(opacity=70);*/
}
#header{
	max-width: 900px;
	background-color:#000066 ;
	margin:auto;
}
#pageName{
	padding-top:5px;
	padding-right:30px;
	margin:auto;
	text-align:center;
}
.barra-horizontal{
	font-family: 'Roboto', sans-serif;
	background-color:#ff6600;
}
.menu{
	font-family: 'Roboto', sans-serif;
}
.submenu{
	font-family: 'Roboto', sans-serif;
	background-color:#ff7722;
}
.titulo-form{
	font-family: 'Roboto', sans-serif;
	color:#a1a1a1;
	font-size:large;
	border-bottom:thin solid #d6d6d6;
}
.centrar{
	text-align: center;
}
.noticia{
	text-align:justify;
	padding-right:20px;
}
.noticia img{
	float: left;
	padding-right:16px;
	padding-bottom:16px;
}
.contenedor-imagen{
	position: relative;
   padding-bottom: 75%;
}
.contenedor-imagen img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.mapa{
	margin:auto;
	width:95%;
	min-height:150px;
	
}
.footer {
   background-color: #191A36;
}
.mySlides {
	display:none;
	opacity:1;
	filter:  alpha(opacity=100);
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
