
body{
	background-color:#e6e6e6;
	background-image: url("../img/imgbase.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment:fixed;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
}
input , select{
	padding:5px;
	border-radius:10px;
	border:thin solid gray;
	display: inline-block;
}
textarea{
	resize:none; 
	border-radius: 10px;
	border:1px solid #B4B4B4;
	padding: 3px;
}
label{
	font-size: 14px;
	display: block;
}
#pagina{
	max-width: 860px;
	margin:auto;
	border-radius: 25px;
	background-color:#ffffff;
}
#header{
	max-width: 860px;
	background-color:#000066 ;
}
#imagenS{
	/*border: 1px solid grey;*/
	display: block;
}
.frame{
	margin:auto;
	margin:15px;
	border:thin solid #d6d6d6;
}
.menu-horizontal{
	background-color:#ff6600;
}
.submenu{
	background-color:#ff7722;
}
.titulo-form{
	color:#a1a1a1;
	font-size:large;
	border-bottom:thin solid #d6d6d6;
}
.centrar{
	text-align: center;
}
.contenedor-imagen{
	position: relative;
   padding-bottom: 75%;
	background-color:#eee;
}
.contenedor-imagen img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

